@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

.company_culture_all-remote_index {// sass-lint:disable-line class-name-format
  .blank-header {
    display: none;
  }

  .footer {
    margin-top: 0;
  }

  .sticky-banner {
    z-index: 1500;
  }

  .sticky-banner .action {
    flex: auto;
    justify-content: flex-end;
    display: flex;
    
    @media all and (max-width: $grid-float-breakpoint) {
      justify-content: flex-start;
    }
  }

  .sticky-banner .action .featured-item-cta-btn {
    height: 44px;
  }
}

.all-remote-landing {
  padding-top: 60px;

  .monospace-heading {
    font-family: Courier New, Courier, sans-serif;
    font-weight: 400;
    display: inline-block;
    padding: 8px 16px;
    box-shadow: 7px 7px 0 rgba(255, 255, 255, .3);
    margin: 0;
  }

  .hero-row {
    display: flex;

    @media all and (max-width: $screen-sm-min) {
      flex-direction: column;
    }
  }

  .hero {
    position: relative;
    z-index: 200;
    padding-bottom: 80px;

    @media all and (max-width: $grid-float-breakpoint) {
      padding-bottom: 60px;
    }

    .hero-image-wrap {
      position: relative;
      display: flex;
      justify-content: center;

      @media all and (max-width: $screen-sm-min) {
        display: block;
        text-align: center;
      }
    }

    img {
      width: 320px;
      height: auto;
      max-width: 100%;
      margin: 0 auto;
      display: flex;
      align-self: center;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
      // object-fit: cover;
      // height: 540px;
      // width: 100%;
      // border-radius: 5px;

      // @media all and (max-width: $screen-sm-min) {
      //   height: 280px;
      // }

      @media all and (max-width: $screen-sm-min) {
        width: 230px;
        margin: 0 auto 20px;
      }
    }

    h1 {
      color: $color-primary;
      font-weight: 400;
      font-size: 34px;
      margin-bottom: 0;
      margin-top: 10px;
      padding-bottom: 0;

      span {
        font-weight: 700;
      }
    }

    p {
      margin-top: 30px;
    }

    .hero-content {
      //max-width: 500px;
      padding-left: 40px;

      @media all and (max-width: $grid-float-breakpoint) {
        max-width: 100%;
        padding-left: 10px;
      }
    }

    .cta-btn.form-lightbox-open {
      line-height: 23px;
      padding: 13px 30px;

      @media all and (max-width: $screen-sm-min) {
        padding: 13px 15px;
      }
    }
  }

  @media all and (max-width: $screen-sm-min) {
    .hero-image-col,
    .hero-content-col {
      width: 100%;
    }
  }

  .playbook-color-block {
    position: absolute;
    z-index: 2;
  }

  .playbook-color-block-1 {
    top: 100px;
    left: -8px;
    background: #fca326;
    width: 114px;
    height: 114px;
    z-index: -2;

    @media all and (max-width: $grid-float-breakpoint) {
      display: none;
    }
  }

  .playbook-color-block-2 {
    top: -11px;
    left: 18px;
    background: #fc6d26;
    height: 121px;
    width: 121px;
    z-index: -20;

    @media all and (max-width: $grid-float-breakpoint) {
      display: none;
    }
  }


  .manifesto {
    padding: 80px 0;
    background-image: linear-gradient(to top right, #1D1237, #523E8E);
    color: $color-white;

    h2 {
      background: $color-white;
      color: $color-primary;

      @media all and (max-width: $grid-float-breakpoint) {
        margin-bottom: 60px;
      }
    }
  }

  .manifesto-heading-wrap {
    display: flex;
    justify-content: center; 

    @media all and (max-width: $grid-float-breakpoint) {
      justify-content: flex-start;
    }
  }

  .manifesto-list-block {
    margin-top: 80px;

    @media all and (max-width: $grid-float-breakpoint) {
      margin-top: 0;
    }
  }

  .manifesto-list-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    span:nth-child(1) {
      font-family: Courier New, Courier, sans-serif;
      font-weight: 700;
      font-size: 22px;
      background: $color-white;
      color: $color-primary;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      justify-content: center;
      text-align: center;
      display: flex;
      flex-direction: column;
      position: relative;
      top: -8px;
    }

    span:nth-child(2) {
      line-height: 1.35;
      width: calc(100% - 60px);
    }
  }

  .video_container {// sass-lint:disable-line class-name-format
    border: 0;
    border-width: 0;

    iframe {
      border: 0;
      border-width: 0;
      z-index: 100;
    }
  }

  .why-remote {
    position: relative;
    padding: 100px 0 110px;
  }

  .why-remote-color-block {
    position: absolute;
    z-index: 2;
  }

  .why-remote-color-block-1 {
    top: 0;
    left: 0;
    background: #fca326;
    width: 100px;
    height: 100px;

    @media all and (max-width: $grid-float-breakpoint) {
      width: 70px;
      height: 70px;
    }
  }

  .why-remote-color-block-2 {
    bottom: 60px;
    left: 0;
    background: #fc6d26;
    height: 110px;
    width: 90px;

    @media all and (max-width: $grid-float-breakpoint) {
      display: none;
    }
  }

  .why-remote-color-block-3 {
    bottom: 120px;
    left: 50px;
    background: #9795f9;
    height: 80px;
    width: 80px;

    @media all and (max-width: $grid-float-breakpoint) {
      bottom: auto;
      top: 16px;
      left: 24px;
      width: 65px;
      height: 65px;
    }
  }

  .why-remote-color-block-4 {
    bottom: -10px;
    left: -25px;
    background: #9795f9;
    height: 80px;
    width: 80px;
  }

  .why-remote-color-block-5 {
    bottom: -38px;
    right: 70px;
    background: #fca326;
    width: 140px;
    height: 150px;
    z-index: 50;
  }

  .why-remote-color-block-6 {
    bottom: -16px;
    right: 40px;
    background: #fc6d26;
    height: 70px;
    width: 70px;
  }

  .why-remote-col-wrap {
    display: flex;
    justify-content: space-between;
    width: 94%;
    margin: 0 auto;
    max-width: 1480px;

    @media all and (max-width: $grid-float-breakpoint) {
      flex-direction: column;
    }
  }

  .why-remote-col {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 800;

    @media all and (max-width: $grid-float-breakpoint) {
      width: 100%;
    }
  }

  .why-remote-text {
    text-align: right;
    width: 410px;
    max-width: 90%;
    margin: 0 auto;

    @media all and (max-width: $grid-float-breakpoint) {
      width: 100%;
      margin: 0 auto 50px;
      text-align: center;
    }

    h2 {
      color: $color-primary;
      font-weight: 700;
      margin: 0;
      padding: 0 0 15px;
    }

    p {
      margin: 0;
      padding: 0;
      font-size: 20px;
    }
  }

  .why-remote-video {
    position: relative;
  }

  .all-remote-quick-links {
    padding: 55px 0 100px;
    background-image: linear-gradient(to top right, #1D1237, #523E8E);
    color: $color-white;
    position: relative;
    z-index: 100;
    //margin-top: -120px;

    @media all and (max-width: $grid-float-breakpoint) {
      margin-top: 0;
      padding: 60px 0 45px;
    }

    h2 {
      color: $color-white;
      background: transparent;
      // background: $color-white;
      // color: $color-primary;
      margin-bottom: 55px;
      margin-left: 40px;

      @media all and (max-width: $grid-float-breakpoint) {
        margin-left: 0;
      }

      a {
        color: $color-primary;
        transition: opacity .2s ease;

        &:hover {
          text-decoration: none;
          opacity: .7;
        }
      }
    }

    h4 {
      font-size: 19px;
      margin-bottom: 25px;
      font-weight: 700;
    }

    a {
      color: $color-white;
    }


    ul {
      margin: 0;
      padding: 0;
    }

    li {
      list-style-type: none;
      font-size: 17px;
      margin-bottom: 7px;
      margin-top: 0;
      padding: 0;
    }

    @media all and (max-width: $grid-float-breakpoint) {
      .col-md-2 {
        width: 45%;
        margin-bottom: 30px;
      }

      .row-quick-links-wrap {
        display: flex;
        flex-wrap: wrap;
        text-align: left;
      }
    }
  }

  .all-remote-quick-links-intro {
    display: flex;
    justify-content: center;
    text-align: center;

    // @media all and (max-width: $grid-float-breakpoint) {
    //   justify-content: flex-start;
    // }

    h2 {
      font-weight: 700;

      a {
        color: $color-white;
        opacity: 1;
        font-weight: 700;
      }
    }
  }

  .featured-remote-posts {
    padding: 80px 0;
    background-image: url("/images/all-remote/striped-sidebar.svg");
    background-repeat: repeat-y;
  }

  .featured-remote-posts-content {
    h2 {
      margin-top: 0;
      padding: 0;
      margin-bottom: 60px;
      color: $color-primary;
      font-weight: 700;
    }
  }

  .all-remote-connect-block {
    background: $color-gray-extra-light-alt;
    padding: 80px 0;

    h3 {
      font-weight: 700;
      color: $color-primary;
    }
  }

  .mktoForm {// sass-lint:disable-line class-name-format
    margin: 0 auto 0 0;

    @media all and (max-width: $screen-sm-min) {
      max-width: 280px;
    }
  }

  .bl-modal .mktoForm {// sass-lint:disable-line class-name-format
    padding-bottom: 40px;
    margin: 0 auto;
  }

  .all-remote-social-block {
    ul {
      margin: 25px 0 60px;
      padding: 0;
    }

    li {
      list-style-type: none;
      display: inline-block;
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }

    img {
      max-height: 41px;
    }
  }

  .all-remote-join-block {
    @media all and (max-width: $screen-sm-min) {
      margin-bottom: 50px;
    }
  }

  .footer {
    margin-top: 0;
  }
}