---
layout: default
title: Join GitLab
twitter_image: '/images/tweets/teamgitlab.jpg'
suppress_header: true
manual_cookiebot: true
extra_css:
  - jobs.css
---

.container.listing-container
  .content.tile{id: 'opportunities'}
    :markdown
      ## Careers at GitLab

      Interested in joining our [all-remote team](https://about.gitlab.com/company/culture/all-remote/)? GitLab is a very unique place to work, and we’re taking an equally unique approach to growing [our team](https://about.gitlab.com/company/team/org-chart/). Learn more about our talent acquisition  model and what it’s like to work here on our [Jobs FAQ page](https://about.gitlab.com/jobs/faq/).

      Here’s a list of the active roles we’re sourcing for now. To be considered for a career opportunity at GitLab, please join our [Talent Community](https://boards.greenhouse.io/gitlab/jobs/4700367002).
      

      | Position Title | [Job Family](https://about.gitlab.com/handbook/hiring/job-families/) Link | Internal Reference Number |
      |--------------------------|-----------------|-----------------|
      | Director of Legal, Employment | [What we're looking for](https://about.gitlab.com/job-families/legal/director-legal-us/) | [1061](https://gitlab.greenhouse.io/sdash/4450644002) |
      |  Director of Legal, Commercial | [What we're looking for](https://about.gitlab.com/job-families/legal/director-legal-us) | [1174](https://gitlab.greenhouse.io/sdash/4498575002) |
      |  Director of Legal, Corporate | [What we're looking for](https://about.gitlab.com/job-families/legal/director-legal-us) | [1063](https://gitlab.greenhouse.io/sdash/4450690002) |
      |  International Tax Manager | [What we're looking for](https://about.gitlab.com/job-families/finance/international-tax-manager/) | [719](https://gitlab.greenhouse.io/sdash/4297440002) |
      |  Integrations Engineer |  [What we're looking for](https://about.gitlab.com/job-families/finance/integrations-engineer/) | [1252](https://gitlab.greenhouse.io/sdash/4536034002) |
      |  Research Sr Mgr/Director |  [What we're looking for](https://about.gitlab.com/job-families/engineering/ux-research-manager/) | [1223](https://gitlab.greenhouse.io/sdash/4527602002) |
      |  Backend Engineer, Secure C# | [What we're looking for](https://about.gitlab.com/job-families/engineering/backend-engineer/) | [665-12](https://gitlab.greenhouse.io/sdash/4062541002) |
      |  Senior Manager, Digital Experience | [What we're looking for](https://about.gitlab.com/job-families/marketing/marketing-web-developer-designer/) | [1229](https://gitlab.greenhouse.io/sdash/4528278002) |
      |  VP of Demand Generation | [What we're looking for](https://about.gitlab.com/job-families/marketing/demand-gen-marketing) | [1103](https://gitlab.greenhouse.io/sdash/4468281002) |
      |  Senior Channel Marketing Manager | [What we're looking for](https://about.gitlab.com/job-families/marketing/product-marketing-manager/) | [1265](https://gitlab.greenhouse.io/sdash/4540499002) |
      |  Revenue Accountant | [What we're looking for](https://about.gitlab.com/job-families/finance/revenue-accounting/) | [1224](https://gitlab.greenhouse.io/sdash/4527946002) |
      |  Senior Director, Enterprise Applications | [What we're looking for](https://about.gitlab.com/job-families/finance/senior-director-enterprise-applications/) | [1241](https://gitlab.greenhouse.io/sdash/4531546002) |
      |  Sales Development Representative, APAC, Japanese speaking | [What we're looking for](https://about.gitlab.com/job-families/marketing/sales-development-representative/) | [1208](https://gitlab.greenhouse.io/sdash/4522421002) |
      |  Support Engineer (Americas Central) | [What we're looking for](https://about.gitlab.com/job-families/engineering/support-engineer) | [929](https://gitlab.greenhouse.io/sdash/4198900002) |
      |  Support Engineer (Americas East) | [What we're looking for](https://about.gitlab.com/job-families/engineering/support-engineer/#hiring-process) | [336](https://gitlab.greenhouse.io/sdash/4190543002) |
      |  Support Engineer (Americas West) | [What we're looking for](https://about.gitlab.com/job-families/engineering/support-engineer) | [738](https://gitlab.greenhouse.io/sdash/4198894002) |
      |  Support Engineer (APAC) | [What we're looking for](https://about.gitlab.com/job-families/engineering/support-engineer) | [737](https://gitlab.greenhouse.io/sdash/4179087002) |
      |  Support Engineering Manager (Americas) | [What we're looking for](https://about.gitlab.com/job-families/engineering/support-management/) | [1111](https://gitlab.greenhouse.io/sdash/4469289002) |
      |  Support Engineer (EMEA) | [What we're looking for](https://about.gitlab.com/job-families/engineering/support-engineer) | [736](https://gitlab.greenhouse.io/sdash/4182462002) |
      |  Support Engineering Manager (EMEA) | [What we're looking for](https://about.gitlab.com/job-families/engineering/support-management/) | [1202](https://gitlab.greenhouse.io/sdash/4516895002) |
      |  Security Engineer, Security Operations | [What we're looking for](https://about.gitlab.com/job-families/engineering/security-engineer/) | [842](https://gitlab.greenhouse.io/sdash/4334952002) |

      If you are a current team member, please reference [this page](https://about.gitlab.com/handbook/hiring/interviewing/#internal-applicants) for additional information and a link to the internal job board.

    %div.u-flex.justify-center
      = link_to "https://boards.greenhouse.io/gitlab/jobs/4700367002?gh_src=d865c64f2us", class: "btn cta-btn accent" do
        Join Our Talent Community
