---
layout: default
title: GitLab for education
suppress_header: true
extra_css:
  - sales-and-free-trial-common.css
  - faq.css
  - styles-2018.css
  - webcast.css
extra_js:
  - faq.js
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline GitLab for Education
        %h2.page-subtitle Our top tiers are free for education

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p Any institution whose purpose directly relates to learning, teaching, and/or training may qualify. Educational purposes do not include commercial, professional, or any other for-profit purpose (<a href="/terms/#edu-oss" target="_blank">see full terms</a>)
            %p We want students to use our most advanced features, so they can take that experience to their future workplaces.

            %h3 Additional information
            %ul
              %li Free GitLab Ultimate and Gold accounts do not include support. However, you can purchase support for 95% off, at $4.95 per user per month.
              %li Only educational institutions can apply. <b>Every student's application will, therefore, be rejected</b>.
              %li We can allow only one license per institution, so make sure to request enough seats for all departments that are interested in this license.
              %li The number of seats is the number of different users that will use this license during the next year.
              %li These licenses need to be renewed annually.
              %li If you have any additional question regarding this program, feel free to reach us at <a href="mailto:education@gitlab.com" target="_blank">education@gitlab.com</a>.

            %h3 Application process
            %ul
              %li Sign the quote that you'll receive shortly
              %li Accept the EULA that will be sent to your email
              %li Receive the license key (for Ultimate) or further instructions (for Gold)

            %h3 Renewal process
            %ul
              %li Please reach out to us via <a href="mailto:education@gitlab.com" target="_blank">education@gitlab.com</a> approximately one month before your license expires and let us know if there is anything that needs to be modified on your subscription.
              %li We'll be in touch with you shortly!


        .col-md-4.col-md-offset-1
          %h3.margin-top0 Application form

          .centered-form
            %script{ src: "//page.gitlab.com/js/forms2/js/forms2.min.js" }
            %form#mktoForm_1659
            :javascript
              MktoForms2.loadForm("//page.gitlab.com", "194-VVC-221", 1659, function(form) {
                form.onSuccess(function() {
                  form.getFormElem().hide();
                  $('.confirmform').attr('style', 'visibility: visible');
                  return false;
                });
              });
        .confirmform{ style: "visibility:hidden;" }
          %h3 Submission received!
          %p We will be in touch soon.


  #education-q-a.content-container.animated
    .container
      %h2#FAQ.faq-title.light.text-center
        %a{ href: '#FAQ' } Frequently Asked Questions
      .faq-holder.clearfix
        %ol.faq-container.list-unstyled
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Does research qualify for the Education license?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p
                  It depends on the research and who is doing it. Student research
                  %strong
                    as part of their educational program,
                  yes.  Professor research, if not for profit and students are participating, yes. Professor research not involving students, no.
          %li#edu-question-2.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Can this license be used in the IT department for running IT services?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p Unfortunately, not. The education license is only for the purposes of educating students and can be used by students and the teachers providing the education. Staff not directly responsible for teaching the students using GitLab would not qualify for the education license - it would fall under the "professional" exclusion.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Are modifications to the EULA allowed?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p At this time we are not contemplating modifications to the EULA. For any questions about the EULA itself or the Education program, please feel free to contact us at education@gitlab.com.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Are we allowed to increase the number of seats in the future?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p If you want to increase the number of seats on your existing license, please send an email to education@gitlab.com, and we’ll prepare an add-on quote for additional seats.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Can I use my paid seats on a new set of users?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p Yes. Please see our <a href="/pricing/licensing-faq/#can-i-use-my-paid-seats-for-different-users">licensing and subscription FAQ</a> for the detailed response.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Can I purchase support for a lower number of seats than quoted?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p No. If you choose to purchase our discounted Education support, you must purchase it for all seats.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Who gets counted in the subscription?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p Please see our <a href="/pricing/licensing-faq/#who-gets-counted-in-the-subscription">licensing and subscription FAQ</a> for the detailed explanation.
        %ol.faq-container.list-unstyled
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Can we run multiple self-hosted instances with the same license key?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p Yes. Our self-hosted license keys can be installed on multiple instances. You can run two separate servers with the same license key.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                How can I manage the visibility of our projects?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p If you're a member of the parent group in GitLab, you automatically have access to all descendants - GitLab doesn't support having the subgroup be more restrictive than its parent. However, being a part of a subgroup does not grant you access to the parent group.
                %p The best way to do this is to make everyone a member of their respective subgroup having only admins in the top level group.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Can students use our GitLab instance after they graduate?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p They have to pay to continue using it, as this license can be used only during studies.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Where are GitLab's servers located?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p We don’t have regional/configurable storage. All of our GitLab.com data is stored in the US.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                How are concurrent sessions counted?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p Given a scenario of a user accessing the license via a laptop as well as a desktop PC simultaneously, they would only consume one seat
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Is it possible to authenticate users via LDAP over SSL?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p It is possible only on our self-hosted Ultimate version. The server doesn't strictly need a static IP, as a DNS name can be used for the LDAP server.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                What are common migration paths with GitLab?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p
                  = link_to "From self-hosted GitLab to GitLab.com", "/terms/#edu-oss"
                %p
                  = link_to "Upgrading from Community Edition to Enterprise Edition", "/terms/#edu-oss"
                %p
                  = link_to "Downgrading from Enterprise Edition to Community Edition", "/terms/#edu-oss"
